.about__img-container {
  margin: 0 auto;
}

.about__img {
  margin: 0 50px;
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  border: 16px solid transparent;
  border-radius: 50%;
  float: left;

  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.about__heading {
  padding-top: 20px;
}
.about__text {
  padding-left: 0 20px;
  font-size: 17px;
}

.about__text--link:link,
.about__text--link:visited {
  text-decoration: none;
  color: var(--color-primary);
}
