.contact__box {
  text-align: center;
}

.contact__card {
  display: inline-block;
  border: 2px solid var(--color-grey);
  border-radius: 6px;
  background-color: var(--color-white);
  width: 75%;
  height: 160px;
  padding: 6px;
}

/* CONTACT INFORMATION */
.contact__info-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.contact__info-list-item {
  padding: 12px;
}

.contact__info-list-item:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light);
}

/* CONTACT FORM */
.contact__form {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.contact__name,
.contact__message {
  box-sizing: border-box;
  border-style: none;
  border-radius: 2px;
  background-color: var(--color-white-dirty);
  width: 100%;
  padding: 8px;
  margin: 4px 0;
}

.contact__message {
  overflow: auto;
  resize: none;
  height: 110px;
}

.contact__submit-wrapper {
  display: inline;

  position: absolute;
  bottom: 7.5%;
  right: 2%;
}

.contact__submit {
  cursor: pointer;
  padding: 12px 18px;
  border-style: none;
  border-radius: 100px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
