.portfolio__heading {
  text-align: center;
}

/* Center cards (reduce gutter) */
#portfolio .row > :first-child .card {
  float: right;
}
#portfolio .row > :last-child .card {
  float: left;
}

.card {
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.5);
}

.card__img__gradient {
  position: relative;
  height: 300px;
  width: 300px;
}

.card__img__gradient::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--card-image-gradient);
  z-index: 200;
  opacity: 1;
  transition: all 0.4s;
}

.card__img {
  position: relative;
  height: 300px;
  width: 300px;
}

.card__img--1 {
  background-image: url(../img/bookface-logo.png);
}

.card:hover .card__img__gradient::before {
  opacity: 0;
}

/*
.card:hover .card__img--1 {
  cursor: pointer;
  background-image: linear-gradient(transparent, transparent),
    url(../img/bookface-logo.png);
}
*/

.card__img--2 {
  background-image: var(--card-image-gradient), url(../img/laser-cat.png);
}

.card__img--3 {
  background-image: var(--card-image-gradient), url(../img/wannacry-logo.png);
}

.card__body {
  background-color: var(--color-white);
  margin-top: -8px;
  height: 100px;
  text-align: center;
}

.card__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 8px;
}

.card__btn {
  text-decoration: none;
  color: var(--color-white);
  padding: 14px 32px;
  border-radius: 100px;
  background-color: var(--color-primary);
}
